<mat-card class="project">
	<mat-card-title class="cardTitle">
		<span *ngIf="!project.edit" class="title">{{project.name}}</span>
		<input *ngIf="project.edit" class="title" [(ngModel)]="project.name" />
		<mat-icon class="projectIcon" *ngIf="!project.edit" aria-hidden="false" (click)="project.edit = true">edit</mat-icon>
		<mat-icon class="projectIcon" *ngIf="project.edit" aria-hidden="false" (click)="editProject(project)">done</mat-icon>
		<mat-icon class="projectIcon" *ngIf="!project.edit" aria-hidden="false" (click)="deleteProject(project)">delete</mat-icon>
	</mat-card-title>
	<mat-card-content>
		<h5 class="stage">{{ 'todo.project.todo' | translate }}</h5>
		<mat-list class="list">
			<ng-container *ngFor="let task of project.tasks">
				<mat-list-item *ngIf="task.status==='OPEN'">
					<mat-checkbox class="checkbox" [(ngModel)]="task.selected" (change)="selectTask(project, task)"></mat-checkbox>
					<div class="taskDescription" matTooltip="Creation date: {{task.creationDate | date:'yyyy-MM-dd hh:mm'}}">{{task.description}}</div>
					<mat-icon class="taskDeleteIcon" aria-hidden="false" (click)="deleteTask(project, task)">delete</mat-icon>
				</mat-list-item>
			</ng-container>
		</mat-list>
		<h5 class="stage">{{ 'todo.project.done' | translate }}</h5>
		<mat-list class="list">
			<ng-container *ngFor="let task of project.tasks">
				<mat-list-item *ngIf="task.status==='FINISHED'">
					<mat-checkbox class="checkbox" disabled [(ngModel)]="task.description" (change)="selectTask(project, task)"></mat-checkbox>
					<div class="taskDescription" matTooltip="Finished date: {{task.finishDate | date:'yyyy-MM-dd hh:mm'}}">{{task.description}}</div>
				</mat-list-item>
			</ng-container>
		</mat-list>
		<mat-divider></mat-divider>
		<form class="createTaskForm">
			<mat-form-field>
				<mat-label>{{ 'todo.project.task' | translate }}</mat-label>
				<input matInput placeholder="Task" [(ngModel)]="project.newTaskValue" [ngModelOptions]="{standalone: true}" value="">
			</mat-form-field>
			<button class="addButton" mat-raised-button color="primary" (click)="addTask(project)">{{ 'todo.project.addTask' | translate }}</button>
		</form>
	</mat-card-content>
	<app-spinner *ngIf="loading" diameter="50"></app-spinner>
</mat-card>