.project {
  display: inline-block;
  margin: 0 10px;
	max-width: 300px;
	position: relative;

  .cardTitle {
    display: flex;
    align-items: center;

    .title {
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .projectIcon {
      cursor: pointer;
    }
  }

  .taskDescription {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
  }

  .createTaskForm {
    padding-top: 20px;

    .addButton {
      margin-left: 10px;
    }
  }

  .taskDeleteIcon {
    cursor: pointer;
  }

  .stage {
    margin: 0;
    padding-top: 20px;
  }

  .list {
    padding: 0;
  }
}