<div class="header">
	<mat-toolbar color="primary">
		<mat-toolbar-row>
			<span>{{ 'todo.title' | translate }}</span>
			<span class="spacer"></span>

			<button mat-button [matMenuTriggerFor]="userMenu">{{ user && user.name }}</button>
			<mat-menu #userMenu="matMenu">
				<button mat-menu-item (click)="logout()">{{ 'todo.logout' | translate }}</button>
			</mat-menu>

			<button mat-button [matMenuTriggerFor]="languageMenu">
				<img class="language" *ngIf="language === 'pt'" [src]="'/assets/languages/pt.png'" />
				<img class="language" *ngIf="language === 'en'" [src]="'/assets/languages/en.png'" />
			</button>
			<mat-menu #languageMenu="matMenu" class="matmenu">
				<button class="langBtn" mat-menu-item *ngFor="let language of languages" (click)="changeLanguage(language)" style="display: flex; align-items: center;">
					<img class="language" [src]="'/assets/languages/'+language+'.png'" style="width: 30px; padding-right: 5px;" />
					{{ 'language.'+language | translate }}
				</button>
			</mat-menu>
		</mat-toolbar-row>
	</mat-toolbar>
	<app-spinner *ngIf="loading" [diameter]="'50'"></app-spinner>
</div>