.spinnerBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .5);
  display: flex;
  align-items: center;

  mat-spinner {
    margin: auto;
  }
}