<mat-card>
	<mat-card-content>
		<form [formGroup]="form" (ngSubmit)="onSubmit()">
			<h1>{{ 'register.title' | translate }}</h1>
			<h2>{{ 'register.subtitle' | translate }}</h2>

			<mat-form-field class="example-full-width">
				<mat-label>{{ 'register.name' | translate }}</mat-label>
				<input matInput placeholder="Name" value="" formControlName="name">
			</mat-form-field>

			<mat-form-field class="example-full-width">
				<mat-label>{{ 'register.username' | translate }}</mat-label>
				<input matInput placeholder="Username" value="" formControlName="username">
			</mat-form-field>

			<mat-form-field class="example-full-width">
				<mat-label>{{ 'register.password' | translate }}</mat-label>
				<input matInput type="password" placeholder="Password" value="" formControlName="password">
			</mat-form-field>

			<button class="actionBtn" mat-raised-button color="primary" routerLink="/login">{{ 'register.login' | translate }}</button>
			<button class="actionBtn" mat-raised-button color="primary" type="submit" [disabled]="form.invalid">{{ 'register.register' | translate }}</button>
			<mat-error *ngIf="invalidRegisterCode === 'DUPLICATED_USER'">{{ 'register.duplicatedUser' | translate }}</mat-error>
			<mat-error *ngIf="invalidRegisterCode && invalidRegisterCode !== 'DUPLICATED_USER'">{{ 'register.genericError' | translate }}</mat-error>
		</form>
	</mat-card-content>
</mat-card>

<app-spinner *ngIf="loading"></app-spinner>