<mat-card>
	<mat-card-content>
		<form [formGroup]="form" (ngSubmit)="onSubmit()">
			<h1>{{ 'login.title' | translate }}</h1>
			<h2>{{ 'login.subtitle' | translate }}</h2>

			<mat-form-field class="example-full-width">
				<mat-label>{{ 'login.username' | translate }}</mat-label>
				<input matInput placeholder="Username" value="" formControlName="username">
			</mat-form-field>

			<mat-form-field class="example-full-width">
				<mat-label>{{ 'login.password' | translate }}</mat-label>
				<input matInput type="password" placeholder="Password" value="" formControlName="password">
			</mat-form-field>

			<button class="actionBtn" mat-raised-button color="primary" type="submit" [disabled]="form.invalid">{{ 'login.login' | translate }}</button>
			<button class="actionBtn" mat-raised-button color="primary" routerLink="/register">{{ 'login.register' | translate }}</button>
			<mat-error *ngIf="invalidRegisterCode === 'INVALID_USER_PASSWORD'">{{ 'login.invalidLogin' | translate }}</mat-error>
			<mat-error *ngIf="invalidRegisterCode && invalidRegisterCode !== 'INVALID_USER_PASSWORD'">{{ 'login.genericError' | translate }}</mat-error>
		</form>
	</mat-card-content>
</mat-card>

<app-spinner *ngIf="loading"></app-spinner>