.todo {
  display: flex;
  height: 100%;
	flex-direction: column;
	position: relative;

  .board {
    padding: 1em;
    overflow: auto;
    white-space: nowrap;
    display: flex;
    flex: 1;

    .newProject {
      max-width: 200px;
      text-align: center;
      background-color: #e6e6e6;
      display: inline-block;
      margin-right: 1em;

      mat-form-field {
        display: block;
      }
    }

    
  }
}
