<div class="todo">
	<app-header></app-header>
	<div class="board">
		<div *ngFor="let project of projects">
			<app-project [project]="project" (onDelete)="deleteProject(project)"></app-project>
		</div>
		<div>
			<mat-card class="newProject">
				<mat-card-content>
					<form [formGroup]="form" (ngSubmit)="createProject()">
						<h2>{{ 'todo.newProject.title' | translate }}</h2>

						<mat-form-field class="example-full-width">
							<mat-label>{{ 'todo.newProject.name' | translate }}</mat-label>
							<input matInput placeholder="Project Name" value="" formControlName="projectName">
						</mat-form-field>

						<button class="actionBtn" mat-raised-button color="primary" type="submit" [disabled]="form.invalid">{{
							'todo.newProject.create' | translate }}</button>
						<mat-error *ngIf="newProjectError">{{ 'todo.newProject.genericError' | translate }}</mat-error>
					</form>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
	<app-spinner *ngIf="loading"></app-spinner>
</div>